<div class="container">
    <div class="row">
        <!-- the following div will increment through API use of *ngFor loop, now it's increment statically -->
        <div class="col-sm-6" >
            <img src="assets/Tile_Image.jpg">
            <div class="bottom-left">KARIBA REDD+- ZIMBABWE</div>
            <div class="top-right">
                <button class="btn btn-success">Buy Now</button>
                <p>$7.50 / ton</p>
            </div>
            <div class="descp">
                <h4>Reduced Emissions from deforestation</h4>
                <h5>957,842 Ibs offset</h5>
                <p>Protects forests and wildlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="assets/Tile_Image.jpg">
            <div class="bottom-left">KARIBA REDD+- ZIMBABWE</div>
            <div class="descp">
                <h4>Reduced Emissions from deforestation</h4>
                <h5>957,842 Ibs offset</h5>
                <p>Protects forests and wildlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
            </div>
        </div>

        <div class="col-sm-6">
            <img src="assets/Tile_Image.jpg">
            <div class="bottom-left">KARIBA REDD+- ZIMBABWE</div>
            <div class="descp">
                <h4>Reduced Emissions from deforestation</h4>
                <h5>957,842 Ibs offset</h5>
                <p>Protects forests and wildlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="assets/Tile_Image.jpg">
            <div class="bottom-left">KARIBA REDD+- ZIMBABWE</div>
            <div class="descp">
                <h4>Reduced Emissions from deforestation</h4>
                <h5>957,842 Ibs offset</h5>
                <p>Protects forests and wildlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
            </div>
        </div>

        <div class="col-sm-6">
            <img src="assets/Tile_Image.jpg">
            <div class="bottom-left">KARIBA REDD+- ZIMBABWE</div>
            <div class="descp">
                <h4>Reduced Emissions from deforestation</h4>
                <h5>957,842 Ibs offset</h5>
                <p>Protects forests and wildlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="assets/Tile_Image.jpg">
            <div class="bottom-left">KARIBA REDD+- ZIMBABWE</div>
            <div class="top-right">
                <button class="btn btn-success">Buy Now</button>
                <p>$7.50 / ton</p>
            </div>
            <div class="descp">
                <h4>Reduced Emissions from deforestation</h4>
                <h5>957,842 Ibs offset</h5>
                <p>Protects forests and wildlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
            </div>
        </div>

        <div class="col-sm-6">
            <img src="assets/Tile_Image.jpg">
            <div class="bottom-left">KARIBA REDD+- ZIMBABWE</div>
            <div class="descp">
                <h4>Reduced Emissions from deforestation</h4>
                <h5>957,842 Ibs offset</h5>
                <p>Protects forests and wildlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="assets/Tile_Image.jpg">
            <div class="bottom-left">KARIBA REDD+- ZIMBABWE</div>
            <div class="top-right">
                <button class="btn btn-success">Buy Now</button>
                <p>$7.50 / ton</p>
            </div>
            <div class="descp">
                <h4>Reduced Emissions from deforestation</h4>
                <h5>957,842 Ibs offset</h5>
                <p>Protects forests and wildlife on the southern shores of Lake Kariba in Zimbabwe, forming a giant biodiversity corridor.</p>
            </div>
        </div>

      </div>
    </div>